﻿
body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 5% 0px;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    background: hsla(141, 54%, 86%, 1);
    background: linear-gradient( to right, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100% );
    background: -moz-linear-gradient( to right, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100% );
    background: -webkit-linear-gradient( to right, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100% );
}

#bnrlogo {
    margin-top: -90px !important;
    background-image: url('../images/banner.png');
    height: 230px;
    /*   width: 400px;*/
    background-position: center;
    background-size: cover;
    margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
}


#calendar {
    /*  height:350px;*/
    width: 720px;
    margin: 0 auto;
}

.fc-icon, body .fc {
    font-size: 1.5em;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

.closeon {
    border-radius: 5px;
}

input {
    width: 50%;
}

    input[type="text"][readonly] {
        border: 2px solid rgba(0, 0, 0, 0);
    }

/*info btn*/
.dropbtn {
    /*background-color: #4CAF50;*/
    background-color: #eee;
    margin: 10px;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 100px;
    margin-top: -300px;
}

    .dropdown-content p {
        color: black;
        padding: 4px 4px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: grey;
}

    .dropdown:hover .dropbtn span {
        color: white;
    }
